<section class="sect-last" >
    <!-- <article class="sect-wrapper sect-miripay">
        <div class="sect-contents">
            <div class="miripay-area">
                <div class="arrow arrow-left"><span>&lt;</span></div>
                <ul class="miripay-ul">
                    <li>
                        <div class="txt-box">
                            <p class="p-title"><span class="txt-high">"미리페이"</span>로 필요자금 긴급지원 받자!</p>
                            <p class="p-txt">매번 늦는 판매대금 지급으로 상품 구입자금이 부족해 곤란하셨죠?
                            <br>미리페이 선지급 서비스로 간편하고 빠르게 해결하세요!</p>
                        </div>
                        <div class="img-box">
                            <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_miripay.png" alt="미리페이">
                        </div>
                    </li>
                </ul>
                <div class="arrow arrow-right"><span>&gt;</span></div>
            </div>
        </div>
    </article>
    <article class="sect-wrapper sect-finace">
        <div class="sect-contents">
           <div class="finace-area">
                <ul class="finance-ul-left">
                    <li><img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance01.png" alt="이미지"></li>
                    <li><img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance02.png" alt="이미지"></li>
                    <li><img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance03.png" alt="이미지"></li>
                </ul>
                <ul class="finance-ul-right">
                    <li>
                        <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance04.png" alt="이미지">
                        <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance05.png" alt="이미지">
                    </li>
                    <li>
                        <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance06.png" alt="이미지">
                        <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/common/logo_finance07.png" alt="이미지">
                    </li>
                </ul>
            </div>
        </div>
    </article> -->
    <article class="sect-wrapper sect-footer">
        @@include('../../inc/_footer.html')
    </article>
</section>