<section class="sect-review">
    <article class="sect-wrapper">
        <div class="sect-contents">
            <div class="title-area">
                <h4 class="title-main">누리펀딩 이용후기</h4>
            </div>

            <div class="reivew-slide-area">
                <div class="slide-btn slide-btn-prev">
                    <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/main/btn_slide_left.png" alt="화살표 왼쪽">
                </div>
                <div class="review-area swiper-container">
                    <ul class="review-ul swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="title-box">
                                <div class="name-box">
                                    <p class="p-name">김**님</p>
                                    <p class="p-job">프리랜서_37세 여성</p>
                                </div>
                                <p class="grade-box">
                                    <span class="star-up">★★★★</span>
                                    <span class="star-none">★</span>
                                </p>
                            </div>
                            <div class="txt-box">
                                갑작스런 자금이 필요했는데 누리펀딩으로 정말 간단하고 빠르게 해결했어요. <br>
                                홈페이지에서 몇 가지 정보만 입력하면  
                                가능하니, 쉽고 편리하네요.
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="title-box">
                                <div class="name-box">
                                    <p class="p-name">김**님</p>
                                    <p class="p-job">프리랜서_37세 여성</p>
                                </div>
                                <p class="grade-box">
                                    <span class="star-up">★★★★</span>
                                    <span class="star-none">★</span>
                                </p>
                            </div>
                            <div class="txt-box">
                                갑작스런 자금이 필요했는데 누리펀딩으로 정말 간단하고 빠르게 해결했어요. <br>
                                홈페이지에서 몇 가지 정보만 입력하면  
                                가능하니, 쉽고 편리하네요.
                            </div>
                        </li>
                        <li class="swiper-slide"><p>테스트다요01</p></li>
                        <li class="swiper-slide">테스트다요02</li>
                        <li class="swiper-slide">테스트다요03</li>
                        <li class="swiper-slide">이용후기~~~~</li>
                    </ul>
                    
                </div>
                <div class="slide-btn slide-btn-next">
                    <img src="http://design.ebiznetworks.co.kr/lhc/ruri_renew/img/renew/main/btn_slide_right.png" alt="화살표 오른쪽">
                </div>
            </div>

            <a class="btn-go-review sty-btn-gray" href="">이용후기 전체보기</a>
        </div>
        
        
    </article>
</section>

<script>
$(document).ready(function(){
    let rivewSwiper = new Swiper('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    slidesPerView: 'auto',
    spaceBetween: 30,
    centeredSlides: true,
    loop: true,

    // If we need pagination
    pagination: {
        el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
        nextEl: '.slide-btn-next',
        prevEl: '.slide-btn-prev',
    },

    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },

    breakpoints:{
        721:{
            slidesPerView: 3
        }
    }

    });

    let sliderCheck = function(){
        let winW = $(window).outerWidth();
        console.log(winW);
        if(winW <= 720){
            rivewSwiper.params.slidesPerView = 2;
        }
        else{
            rivewSwiper.params.slidesPerView = 3;
        }
    }

    // rivewSwiper.updateOnWindowResize();
    $(window).resize(function(){
        
        // rivewSwiper.update();
        let winW = $(window).outerWidth();
        console.log(winW);
        if(winW <= 720){
            // rivewSwiper.params.slidesPerView = 2;
            $(".swiper-slide").css('width', "")
        }
        
        console.log("작동");
        
    });

    // rivewSwiper.spaceBetween(150);

    // rivewSwiper.params.slidesPerView = 2;
    // rivewSwiper.params.centeredSlides = true;
    // rivewSwiper.params.slides = 4;
    // rivewSwiper.slideToLoop( 1 , 0);

    // sliderCheck();

    // $(window).resize(function(){
    //     sliderCheck();
    // });
    // window.onload = function(){
    //     sliderCheck();
    // }
    


});



</script>