<section class="sect01" >
    <article class="sect-wrapper sect-area01">
        <div>test</div>
    </article>
    <article class="sect-wrapper sect-area02">
        <div class="sect-contents">
            <ul class="funding-info-ul">
                <li>
                    <p class="p-name">누적상환액</p>
                    <p class="p-num sty-txt-color-blue">419억 5,100만원</p>
                </li>
                <li>
                    <p class="p-name">대출잔액</p>
                    <p class="p-num">419억 5,100만원</p>
                </li>
                <li>
                    <p class="p-name">누적대출액</p>
                    <p class="p-num">445억 9,254만원</p>
                </li>
                <li>
                    <p class="p-name">평균금리</p>
                    <p class="p-num">10.04%</p>
                </li>
                <li>
                    <p class="p-name">연체율</p>
                    <p class="p-num">0%</p>
                </li>
                <li>
                    <p class="p-name">부실율</p>
                    <p class="p-num">0%</p>
                </li>
            </ul>
        </div>
    </article>
    <article class="sect-wrapper sect-area03">
        <div class="sect-contents">
            <div class="news-area">
                <p class="news-title"><span>누리펀딩 뉴스</span><span class="icon-cross">+</span></p>
                <div class="news-info-area">
                    <div class="arrow-box">
                        <div class="arrow-up">▲</div>
                        <div class="arrow-down">▼</div>
                    </div>
                    <p class="news-name">[공지] 누리펀딩 투자상품 KB국민카드 리브메이트앱 입점<p>
                <p class="news-date">20.08.04</p>
                </div>
            </div>
        </div>
    </article>
</section>