<!-- 팝업(리브메이트, 온투법) -->
<div class="pop-duble">
    <div class="pop-area">
        <div class="pop-box pop01">
            <div class="pop-main-box">
                <a href="https://www.nurifunding.co.kr/notice/view.php?var=EU1x&page=1">
                    <img class="img-pc" src="https://www.nurifunding.co.kr/img/notice/200807_notice_pop.jpg" alt="온투법 팝업 PC">
                    <img class="img-m" src="https://www.nurifunding.co.kr/img/notice/200807_notice_m_pop.jpg" alt="온투법 팝업 모바일">
                </a>
            </div>
            <div class="pop-btn-box">
                <button class="btn-not-day" type="button">오늘 하루 보지 않기</button>
                <button class="btn-close-pop" type="button">창 닫기</button>
            </div>
        </div>
        <div class="pop-box pop02">
            <div class="pop-main-box">
                <a href="https://www.nurifunding.co.kr/notice/view.php?var=EU11&page=1">
                    <img class="img-pc" src="https://www.nurifunding.co.kr/img/notice/200723_liiv_pop.jpg" alt="리브메이트 팝업 PC">
                    <img class="img-m" src="https://www.nurifunding.co.kr/img/notice/200723_liiv_m_pop.jpg" alt="온투법 팝업 모바일">
                </a>
            </div>
            <div class="pop-btn-box">
                <button class="btn-not-day" type="button">오늘 하루 보지 않기</button>
                <button class="btn-close-pop" type="button">창 닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 팝업(리브메이트, 온투법) -->