@charset "utf-8";

html{
    // font-size: (10/1024)* 100vw;
}

@media(max-width:1260px){
    html{
        font-size: (10/1260)* 100vw;
    }
}

@media(max-width:720px){
    html{
        font-size: (10/720)* 100vw;
    }
}

html,body{
    // overflow-y: hidden;
    height: 100%;
    // &::-webkit-scrollbar {
    //     display:none;
        
    // }
}


body *{
    letter-spacing: -0.04rem;
    line-height: 1.0;
}

.wrapper, .container{
    width: 100%;
    height: 100%;
    position: relative;
}



@media(max-width:720px){
    html,body{
        overflow-y: initial;
        height: 100%;
    }

    .wrapper, .container{
        width: 100%;
        height: auto;
    }
    
}

.main-wrap{
    .main-container{
        &>section{
            // width: 100%;
            height: 100%;
            padding-top: 9.0rem;
            display: flex;
            flex-direction: column;
            // padding: 50px;
            justify-content: center;
            align-items: center;
            // margin: 0 auto;
            &
            .sect-wrapper{
                // flex-grow: 1;
                //width: 1200px;
                width: 100%;
                .sect-contents{
                    max-width: 1260px;
                    width: 100%;
                    // padding: 0 30px;
                    margin: 0 auto;
                }
            }
        }

        
    }
}
/*sect01_main*/
@import './_sect01_main';

/*sect02_invest*/
@import './_sect02_invest';

/*sect03_service*/
@import './_sect03_service';

/*sect04_advantage*/
@import './_sect04_advantage';

/*sect05_review*/
@import './_sect05_review';

/*sect_last*/
@import './_sect_last';

/*메인(메인)-슬라이더 부분*/
@import './_slide_main';


@media(max-width: 1260px){
.main-wrap{
    .main-container{
        &>section{
            .sect-wrapper{
                width: 100%;
                .sect-contents{
                    width: 100%;

                }
            }
        }

    }
}
}


@media(max-width: 720px){
    .main-wrap{
        .main-container{
            padding-top: 17.0rem;
            &>section{   
                .sect-wrapper{
                    .sect-contents{
             
                    }
                }
            }
            
        }
    }
}

.aside-fn{
    z-index: 10;
    position: fixed;

    bottom: 0.8%;
    right: 1.5rem;
    .fn-box{
        button{
            display: block;
            width: 7.0rem;
        }
    }
}

/*문의하기*/
.modal-request{
    display: none;
    z-index: 150;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-request-area{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 58.0rem;
        margin: 0 auto;
        background-color: #fff;
        border: 4px solid #398fe1;
        padding: 4.6rem 5.0rem;
        .btn-close-request{
            position: absolute;
            top: 1.0rem;
            right: 1.2rem;
            width: 4.0rem;
        }
        .title-box{
            
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .title{
                font-size: 3.0rem;
            }
            .title-logo{
                img{
                    width: 12.0rem;
                }
            }
        }
        .contents-box{
            margin-top: 3.0rem;
            .contents-form{
                .input-ul{
                    &>li{
                        margin-bottom: 0.8rem;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        input,select,textarea{
                           width: 100%;
                           border: 1px solid #999;
                           border-radius: 0.5rem;
                           height: 4.8rem;
                           padding:0 2.0rem;
                           padding-bottom: 2px;
                           color: #666;
                           font-size: 1.8rem;
                           line-height: 1.2;
                           
                       }
                       .select-list{
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            appearance: none;
                            background: url('http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/select_arrow.png') no-repeat right 2.0rem center;
                       }
                       .in-txt{
                           padding: 1.4rem 2.0rem;
                           resize: none;
                           height: 10.0rem;
                       }
                    }
                }
                .policy-box{
                    margin-top: 1.0rem;
                    .policy-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .policy-agree{
                            display: flex;
                            align-items: center;
                            .agree-check{
                                appearance: none;
                                -webkit-appearance: none;
                                border: 1px solid #999;
                                width: 1.8rem;
                                height: 1.8rem;

                                &:checked{
                                    background: #fff url(http://img.nurifunding.co.kr/check-icon.png) no-repeat center;
                                    background-size: 80%;
                                }
                            }
                            .agree-label{
                                margin-left: 0.5rem;
                                letter-spacing: -0.5px;
                                font-size: 1.6rem;
                            }
                        }
                        .policy-detail{
                            .btn-detail-policy{
                                display: flex;
                                align-items: center;
                                background-color: #dddd;;
                                font-size: 1.4rem;
                                height: 2.6rem;
                                padding: 0 1.4rem;
                                .icon-arrow-top{
                                    // width: 2.0rem;
                                    display: none;
                                    height: 2.0rem;
                                    position: relative;
                                    margin-left: 1.0rem;
                                    &::after{
                                        content: "";
                                        // position: absolute;
                                        top: 0;
                                        width: 0.8rem;
                                        height: 0.8rem;
                                        border: 2px solid #666;
                                        border-left: 0;
                                        border-bottom: 0;
                                        display: inline-block;
                                        transform: translateY(25%) rotate(-45deg);
                                    }
                                }
                            }
                        }
                    }
                    .policy-bottom{
                        display: none;
                        margin-top: 1.0rem;
                        .policy-txt{
                            height: 100px;
                            overflow-y: scroll;
                            padding: 0.6rem;
                            border: 1px solid #ddd;
                            font-size: 1.5rem;
                            line-height: 1.4;
                            word-break: keep-all;
                            .f-db{
                                font-weight: 600;
                            }
                        }
                    }
                }
                .btn-apply-request{
                    margin-top: 2.0rem;
                    width: 100%;
                    background: #398fe1;
                    color: #fff;
                    font-size: 2.2rem;
                    height: 5.4rem;
                }
            }
            .request-notice{
                margin-top: 2.0rem;
                word-break: keep-all;
                font-size: 1.5rem;
                letter-spacing: -0.5px;
            }
        }
    }
}



// .test-box{
//     width: 500px;
//     height:200px;
//     background: radial-gradient(#0000008f, #1e9cc200, #1e9cc200);
//     border-radius: 50%;
// }


// @keyframes test {
// 	0% {background-position:0% 50%; }
//     50% {background-position:100% 50%;}
//     100% {background-position:0% 50%; }
// }

// @-webkit-keyframes test 
// {
//     0%{background-position:0% 50%} 
//     50%{background-position:100% 50%} 
//     100%{background-position:0% 50%} 
// }



