<header class="header">
    <section class="header-sect nav-sect">
        <nav class="nav-area">
            <button type="button" class="btn-open-menu mobile-show">
                <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/drawer_menu.png" alt="햄버거 메뉴">
            </button>
            <div class="top-logo">
                <a href="../main/index.html" class="logo-box">
                    <div class="logo-base"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/logo_white.png" alt="로고"></div>
                    <div class="logo-over"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/logo.png" alt="로고"></div>
                </a>
            </div>
            <a href="#none" class="bnt-go-myinfo mobile-show">
                <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/my_info.png" alt="로고">
            </a>
            <!--메뉴 전체-->
            <div class="menu-area">
                <div class="menu-mobile-top mobile-show">
                    <div class="top-title">
                        <div class="title-area">
                            <div class="icon-logo">
                                <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_logo.png" alt="아이콘 로고">
                            </div>
                            <div class="login-box">
                                <div class="name-box">
                                    <p class="p-name"><span class="sty-txt-color-blue">홍길동</span>님
                                    </p>
                                    <div class="icon-arrow"></div>
                                </div>
                                <button type="button" class="btn-logout sty-btn-bar-gray">로그아웃</button>
                            </div>
                            <!-- <div class="logout-box">
                                <a href="#" class="btn-go-join">회원가입</a>
                                <a href="#" class="btn-go-login">로그인</a>
                            </div> -->
                            
                        </div>
                        <button type="button" class="btn-close-menu">
                            <div class="logo-over"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/btn_close_menu.png" alt="닫기"></div>
                        </button>
                    </div>
                    <div class="top-menu-info">
                        <ul class="menu-info-ul">
                            <li>
                                <a href="#">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_info01.png" alt="아이콘">
                                    <p>나의투자정보</p>
                                </a>
                                <li>
                                    <a href="">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_info02.png" alt="아이콘">
                                        <p>나의대출정보</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_info03.png" alt="아이콘">
                                        <p>자동투자설정</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_info04.png" alt="아이콘">
                                        <p>계좌정보</p>
                                    </a>
                                </li>
                            </li>
                        </ul>
                    </div>
                    <div class="top-menu-funding">
                        <ul class="menu-funding-ul">
                            <li>
                                <a href="">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_funding01.png" alt="아이콘">
                                    <p class="mark-new">투자하기</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_menu_funding02.png" alt="아이콘">
                                    <p>대출하기</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--메인메뉴-->
                <div class="main-menu-area">
                    <ul class="main-menu-ul">
                        <li class="active">
                            <a href="#" class="main-btn none-go">투자하기</a>
                            <ul class="sub-menu-ul">
                                <li><a href="#">투자상품</a></li>
                                <li><a href="#">자동투자설정</a></li>
                                <li><a href="#">법인투자안내</a></li>
                                <li><a href="#">투자상품안내</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="main-btn none-go">대출하기</a>
                            <ul class="sub-menu-ul">
                                <li><a href="#">투자상품2</a></li>
                                <li><a href="#">자동투자설정2</a></li>
                                <li><a href="#">법인투자안내2</a></li>
                                <li><a href="#">테스트</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="main-btn">누리워드</a></li>
                        <li>
                            <a href="#" class="main-btn">이용안내</a>
                            <ul class="sub-menu-ul">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">자료실</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="main-btn">회사소개</a>
                            <ul class="sub-menu-ul">
                                <li><a href="#">회사소개</a></li>
                                <li><a href="#">대표이사소개</a></li>
                                <li><a href="#">기업IR정도</a></li>
                            </ul>
                        </li>
                        <li class="mobile-show"><a href="" class="main-btn">마이페이지</a></li>
                    </ul>
                    <div class="sub-menu-bg-mobile mobile-show"></div>
                </div>
                <!--//메인메뉴-->

                <div class="menu-mobile-bottom mobile-show">
                    <div class="bottom-service">
                        <div class="service-area">
                            <div class="tell-box">
                                <p class="title">
                                    <span>고객센터</span>
                                    <span class="tell-num sty-txt-color-blue">1666-4570</span>
                                </p>
                                <div class="txt-box">
                                    <p class="p-dot">평일 : 09시~18시 (점심휴무 : 12:30~ 13:30 )</p>
                                    <p class="p-dot">휴무 :  토, 일, 공휴일</p>
                                </div>
                            </div>
                            <div class="question-box">
                                <a href="" class="btn-go-fqa">자주묻는 질문</a>
                                <a href="" class="btn-go-online">온라인 문의</a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-sns">
                        <ul class="sns-ul">
                            <li><a href=""><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_sns_blog.png" alt="블로그"></a></li>
                            <li><a href=""><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_sns_cafe.png" alt="카페"></a></li>
                            <li class="item-kakao"><a href="" ><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/common/icon_sns_kakao_long.png" alt="카톡"></a></li>
                         
                        </ul>
                    </div>
                </div>
            </div>
            <!--//메뉴전체-->
            <ul class="menu-member-ul">
                <li><a href="">회원가입</a></li>
                <li><a href="">로그인</a></li>
            </ul>
        </nav>
        <nav class="nav-area-sub mobile-show">
            <ul class="menu-sub-ul mobile-show">
                <li><a href="#" class="active"><span>홈</span></a></li>
                <li><a href="#"><span class="mark-dot">투자하기</span></a href="#"></li>
                <li><a href="#"><span>대출하기</span></a></li>
                <li><a href="#"><span>누리워드</span></a></li>
            </ul>
        </nav>
        <div class="sub-menu-bg"></div>
    </section>
</header>

<script>
$(document).ready(function(){
    
    screenSizeCheck();

    let overMenu = null;
    let subMenuBG = $(".over-on .sub-menu-bg");
    // $(".menu-area-ul>li:first>a").addClass("over");
    $(".over-on .main-menu-ul>li .main-btn").hover(function(e){
        //서브메뉴가 있으면
        // let sizeWidth 
        if($(this).siblings(".sub-menu-ul").length > 0){
            $(this).addClass("over");
            subMenuBG.show();
        }
        else{
            subMenuBG.hide();
        }

    }, function(e){ //나가면
        overMenu = $(this);
        // console.log(overMenu);
        $(this).removeClass("over");

        let startY = subMenuBG.offset().top -1;            
        let endY = startY + subMenuBG.outerHeight();
        
        // console.log("마우스: "+e.pageY);
        if(e.pageY < startY || e.pageY > endY ){
            // subMenuBG.show();
            subMenuBG.hide();
        }

    });

    
    //서브메뉴 배경
    subMenuBG.hover(function(){
        overMenu.addClass("over");
        
    },function(){ //나가면
        overMenu.removeClass("over");
        subMenuBG.hide();
    });

    
    $(".over-on .main-menu-ul .sub-menu-ul").hover(function(){ 
        $(this).siblings("a").addClass("over");
        subMenuBG.show();
    }, function(e){ //나가면
        $(this).siblings(".over").removeClass("over");

        let startY = subMenuBG.offset().top -1;            
        let endY = startY + subMenuBG.outerHeight();
        console.log(startY);
        console.log("마우스: "+e.pageY);
        if(e.pageY < startY || e.pageY > endY ){
            // subMenuBG.show();
            subMenuBG.hide();
        }
    });

    
    //모바일쪽
    let menuArea = $(".nav-area .menu-area");

    $(".nav-area .btn-open-menu").on("touchstart",function(e){
        e.preventDefault();
        menuArea.animate({
            'left': "0"
        },100)
    });
    $(".nav-area .btn-close-menu").on("touchstart",function(e){
        e.preventDefault();
        menuArea.animate({
            'left': "-101%"
        },100)
    });

    $(".menu-area .main-menu-ul>li").on("touchstart",function(){
        $(".menu-area .main-menu-ul>li").removeClass("active")
        $(this).addClass("active");
    });


    $(window).resize(function(){
        // let sizeWidth = $(window).outerWidth();
        // console.log(sizeWidth);
        // if(sizeWidth > 720){
        //     menuArea.removeAttr("style");
        // }
        // else if(sizeWidth <= 720){
        //     $(".nav-white").removeClass("nav-white");
        // }
        screenSizeCheck();
    });



});

let screenSizeCheck = function(){
    let screenWidth = $(window).outerWidth();
    $(".over-on .main-menu-ul>li .main-btn").removeClass("over");
    $(".over-on .sub-menu-bg").hide();
    if(screenWidth > 720){
        $(".nav-area .menu-area").removeAttr("style");
        $(".nav-sect").addClass("over-on");
    }
    else if(screenWidth <= 720){
        $(".over-on").removeClass("over-on");
        $(".nav-white").removeClass("nav-white");
        
    }
}

</script>

