.main-wrap{
    .reivew-slide-area{
        display: flex;
        max-width: 1200px;
        margin-top: 7.5rem;
        justify-content: space-between;
        align-items: center;
        .review-area{
            // width: 120.0rem;
            max-width: 11400px;
            width: 100%;
            // width: 800px;
            // margin: 0 auto;
            margin: 0 3.0rem;
            padding-right: 0.8rem;
            padding-left: 1.4rem;
            // padding-bottom: 0.8rem;
            .review-ul{
                li.review-item{
                    // margin-right: 5px;
                    // box-sizing: border-box;
                    border: 1px solid #acb4bb;
                    box-shadow: 5px 8px 0 0 rgba(0, 0, 0, 0.1);
                    height: 25.0rem;
                    padding: 0 3.0rem;
                    padding-top: 4.0rem;
                    margin: 0 1.5rem;
                    margin-bottom: 0.8rem;
                    .title-box{
                        .name-box{
                            display: flex;
                            align-items: flex-end;
                            .p-name{
                                color: #398fe1;
                                font-size: 2.0rem;
                                
                            }
                            .p-job{
                                margin-left: 2.0rem;
                                color: #555;
                                font-size: 1.6rem;
                            }
                        }
                        .grade-box{
                            margin-top: 1.0rem;
                            span{
                                font-size: 2.0rem;
                            }
                            .star-up{
                                color: #ffbf00;
                            }
                            .star-none{
                                color: #ddd;
                            }
                        }
                    }
                    .txt-box{
                        color: #555;
                        line-height: 1.38;
                        font-size: 1.6rem;
                        font-weight: 300;
                        margin-top: 3.5rem;
                    }
                }
            }
        }
        .slide-btn{
            width: 2.6rem;
            outline: none;
            img{
                width: 100%;
            }
        }
        
        .slide-btn-prev{
            // margin-left: -3.0rem;
        }
        
        .slide-btn-next
        {
            // margin-right: -3.0rem;
        }
        
    }
    .reivew-slide-control{
        .slick-dots{
            margin-top: 3.0rem;
            display: flex;
            justify-content: center;
            &>li{
                margin: 0 0.5rem;
                button{
                    outline: none;
                    border-radius: 50%;
                    background-color: #ccc;
                    width: 2.0rem;
                    height: 2.0rem;
                }
            }
            &>li.slick-active{
                button{
                    background-color: #398fe1;
                }
            }
        }
    }
}
@media(max-width: 1260px){
    .slide-btn{
        display: none;
    }
}

@media(max-width: 720px){
    .main-wrap{
        .reivew-slide-area{
            .review-area{
                // transform: scale(1.2);
                margin: 0;
                padding-left: 0;
                padding-right: 0;
                .review-ul{
                    li.review-item{
                        // width: 12800px;
                        margin-bottom: 0;
                        box-shadow: none;
                        width: 54.0rem;
                        height: 37.5rem;
                        .title-box{
                            .name-box{
                                .p-name{
                                    font-size: 3.0rem;
                                }
                                .p-job{
                                    font-size: 2.4rem;
                                }
                            }
                            .grade-box{
                  
                                span{
                                    font-size: 3.6rem;
                                }
                                .star-up{
                         
                                }
                                .star-none{
                         
                                }
                            }
                        }
                        .txt-box{
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}
