.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    
    .mobile-show{
        display: none;
    }
    
    .header-secr{
        width: 100%;
    }

    .sub-menu-bg{
        display: none;
        background-color: white;
        width: 100%;
        height: 60px;
        border-top: 1px solid #ddd
        // &:hover{
        //     display: block;
        // }
    }
    .nav-sect{
         background-color: #126cc3;
        
        .nav-area{
            // background-color: #126cc3;
            // background-color: #666;
            max-width: 1240px;
            padding: 0 2.0rem;
            height: 9.0rem;
            margin: 0 auto;
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            .top-logo{
                .logo-box{
                    display: block;
                    // max-width: 200px;
                    width: 20.0rem;
                    .logo-base{
                        display: block;
                    }
                    .logo-over{
                        display: none;
                    }
                }
            }
            .menu-area{
                height: 100%;
                .main-menu-ul{
                    display: flex;
                    justify-content: space-between;
                    // max-width: ;
                    // width: 580px;
                    height: 100%;

                    &>li{
                        // width: 20%;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // background: burlywood;
                        // border-right: 2px solid yellowgreen;
                        height: 100%;
                        &>a{
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            font-size: 1.8rem;
                            height: 100%;
                            padding: 0 2.0rem;
                            
                            
                        }
                        a.over::after{
                                content: " ";
                                position: absolute;
                                // display: flex;
                                width: 78%;
                                height: 3px;
                                background-color: #398fe1;
                                // left: 0;
                                // right: 0;
                                bottom: 0;
                        }

                        .sub-menu-ul{
                            // width: 100%;
                            
                            // display: flex;
                            display: none;
                            position: absolute;
                            margin-top: 23px;
                            // left: 0;
                            // background-color: white;
                            // height: 120px;
                            &>li{
                                z-index: 5;    
                                // width: 20%;
                                padding: 0 1.0rem;
                                text-align: center;
                                
                                a{
                                    color: #777;
                                    font-size: 1.6rem;
                                    font-weight: 500;
                                }
                            }
                            

                        }

                        a.over{
                            &~.sub-menu-ul{
                                display: flex;
                                //display: block;
                            }
                        }
                        .sub-menu-ul:hover{
                            display: flex;
                            //display: block;
                            
                        }
                        
                        
                    }
                }
            }
            .menu-member-ul{
                display: flex;
                justify-content: space-between;
                width: 11.0rem;
                &>li{
                        
                    a{
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

//헤더에 마우스 오버시 스타일 변경
//720보다 많으면 적용
@media(min-width:720px){
.header{
    .nav-sect:hover, .nav-white{
        background-color: white;
        .nav-area{
            .top-logo{
                .logo-box{
                    
                    .logo-base{
                        display: none;
                    }
                    .logo-over{
                        display: block;
                    }
                }
            }
            .menu-area{
                .main-menu-ul{

                    &>li{
                        
                        &>a{
                            color: #555;
                        }
                    }
                }
            }
            
            .menu-member-ul{

                &>li{
                        
                    a{
                        color: #555;

                    }
                }
            }
        }
    }
 
}
}


@media(max-width:2060px){
}

@media(max-width:720px){
.header{
    .mobile-show{
        display: block;
    }
    .nav-sect{
        background-color:#fff;
        .nav-area{
            // height: 9.0rem;
            
            .btn-open-menu{
                width: 4.0rem;
                background: none;
            }
            .top-logo{
                .logo-box{
                    width: 30.0rem;
                    .logo-base{
                        display: none;
                    }
                    .logo-over{
                        display: block;
                    }
                }
            }
            .bnt-go-myinfo{
                width: 4.0rem;
            }
            
            .menu-area{
                z-index: 50;
                position: fixed; 
                top:0;
                left: -101%;
                width: 100%;
                height: 100%;
                background-color: brown;
                .main-menu-ul{
                    flex-direction: column;
                }
            }

            .menu-member-ul{
                display: none;
            }
        }
        
        
        .nav-area-sub{
            background-color: yellow;
            height: 8.0rem;
            .menu-sub-ul{
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2.4rem;
                &>li{
                    height: 100%;
                    a{
                        height: 100%;
                        padding: 0 1.8rem;
                        font-size: 3.0rem;
                        display: flex;
                        align-items: center;

                        .mark{
                            position: relative;
                            
                            &::after{
                                content: "";
                                background-color: #398fe1;
                                height: 1.0rem;
                                width: 1.0rem;
                                position: absolute;
                                right: -1.4rem;
                                top: -1.0rem;
                                border-radius: 50%;
                            }
                            
                        }


                    }
                    a.active{
                        position: relative;
                        &::after{
                            content: "";
                            background-color: #398fe1;
                            height: 0.6rem;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 0.2rem;
                        }
                    }
                    
                    
                }
            }
        }
    }
    
}
}